{% extends 'home/base.html' %}

{% load static %}

{% block title %}izzan's online portofolio{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero__image line-animation">
        </div>
        <div class="hero__text container--pall">
            <h1>
                Backend Developer <br> Who Love Black
            </h1>
            <p>
                Ahmad Izzan Zahrial is a backend web developer who play with data and trying to make it into the real world step by step.
            </p>
            <a href="#" class="button hero_cta">Click Me</a>
        </div>    
    </section>

    <section class="projects container container--pall">
        <h2>Some Of My Projects</h2>

        <div class="project__grid">
            <div class="project__item">
                <div class="project__pic"><img src="{% static 'home/images/logo.svg' %}"></div>
                <div class="project__title">Test tilte 1</div>
                <div class="project__description">In eu exercitation laboris do ea aliqua irure pariatur id mollit. In excepteur aliquip aliqua non Lorem. Eu elit adipisicing consectetur ex ipsum incididunt proident duis cillum duis ullamco laborum ut esse. Lorem enim est anim officia ea ullamco. Ad cupidatat et do sit adipisicing minim sunt mollit exercitation proident.</div>
                <a href="#" class="button project_cta">click me</a>
            </div>

            <div class="project__item">
                <div class="project__pic"><img src="{% static 'home/images/logo.svg' %}"></div>
                <div class="project__title">Test tilte 1</div>
                <div class="project__description">In eu exercitation laboris do ea aliqua irure pariatur id mollit. In excepteur aliquip aliqua non Lorem. Eu elit adipisicing consectetur ex ipsum incididunt proident duis cillum duis ullamco laborum ut esse. Lorem enim est anim officia ea ullamco. Ad cupidatat et do sit adipisicing minim sunt mollit exercitation proident.</div>
                <a href="#" class="button project_cta">click me</a>
            </div>

            <div class="project__item">
                <div class="project__pic"><img src="{% static 'home/images/logo.svg' %}"></div>
                <div class="project__title">Test tilte 1</div>
                <div class="project__description">In eu exercitation laboris do ea aliqua irure pariatur id mollit. In excepteur aliquip aliqua non Lorem. Eu elit adipisicing consectetur ex ipsum incididunt proident duis cillum duis ullamco laborum ut esse. Lorem enim est anim officia ea ullamco. Ad cupidatat et do sit adipisicing minim sunt mollit exercitation proident.</div>
                <a href="#" class="button project_cta">click me</a>
            </div>

            <div class="project__item">
                <div class="project__pic"><img src="{% static 'home/images/logo.svg' %}"></div>
                <div class="project__title">Test tilte 1</div>
                <div class="project__description">In eu exercitation laboris do ea aliqua irure pariatur id mollit. In excepteur aliquip aliqua non Lorem. Eu elit adipisicing consectetur ex ipsum incididunt proident duis cillum duis ullamco laborum ut esse. Lorem enim est anim officia ea ullamco. Ad cupidatat et do sit adipisicing minim sunt mollit exercitation proident.</div>
                <a href="#" class="button project_cta">click me</a>
            </div>
        </div>
    </section>
{% endblock %}