// colors
$black: black;
$lightBlack: rgb(37, 36, 36);
$grey: grey;
$lightGrey: rgb(177, 176, 176);
$white: white;

//Font sizes
$font-med: 1.125rem;
$font-sm: 0.875rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;